.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  &__link {
    color: $darkGray;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.14px;
  }

  &__link--current {
    position: relative;
    color: $black;
    padding-left: 17px;
    &::after {
      content: '/';
      position: absolute;
      left: 0;
      top: 0;
      color: $black;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 16.8px */
      letter-spacing: -0.14px;
    }
  }
}
