.faq-section {
  width: 100%;
  &__wrapper {
    display: grid;
    align-items: start;
    gap: 20px;
    grid-template-columns: 74.68% 24.04%;
  }

  &__content {
    width: 100%;
    border-radius: 24px;
    background: $white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.04);
    padding: 48px;
    padding-right: 64px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__breadcrumbs {
    margin-bottom: 44px;
  }

  &__heading {
    margin-bottom: 49px;
  }

  &__tab-list {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    gap: 20px;
  }

  &__page-list {
    width: 100%;
    position: relative;
  }

  &__page {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: $defaultTransitionTime;
    transform: scale(0);
  }

  &__page--active {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__page-label {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.16px;
    margin-bottom: 14px;
  }

  &__page-link-list {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 997px;
    column-gap: 16px;
    row-gap: 8px;
  }

  &__page-link {
    color: $darkGray;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    letter-spacing: -0.2px;
  }

  &__page-link--active {
    color: $blue;
  }

  &__accordeon-list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  &__accordeon {
    border-radius: 20px;
    border: 1px solid var(--gray, #eaeaea);
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    &.accordeon--active .accordeon__content {
      margin-top: 22px;
    }
    .accordeon__heading {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 24px */
      letter-spacing: -0.2px;
    }
  }

  &__sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
  }

  &__form {
    padding-top: 34px;
    padding-left: 46px;
    padding-bottom: 61px;
    padding-right: 36px;
    .form__text {
      color: $black;
      text-align: left;
      margin-bottom: 19px;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%; /* 26.4px */
      letter-spacing: -0.24px;
      &:first-child {
        max-width: 256px;
        margin-right: auto;
      }
      span {
        color: $orange;
      }
    }
  }

  &__block {
    padding-top: 39px;
    padding-right: 40px;
    padding-bottom: 29px;
    padding-left: 45px;
    border-radius: 24px;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 32px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.04);
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
    letter-spacing: -0.24px;
  }

  &__socials {
    gap: 16px;
    svg {
      width: 48px;
      height: 48px;
    }
  }
}
