$mainFont: 'Lato', sans-serif;
$wrapperWidth: 1564px;

$defaultTransitionTime: 0.23s;
$middleDefaultTransitionTime: 0.45s;

$white: #fff;
$black: #13151c;
$blue: #0069a3;
$gray: #eaeaea;
$darkGray: #999999;
$orange: #ee4b28;
$bgGray: #f6f6f6;
